*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    position: relative;
    overflow: hidden;
}
#page{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f1f1f1;
}
#page1{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f1f1f1;
}
#page2{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f1f1f1;
}
#page3{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f1f1f1;
}
canvas{
    position: relative;
    z-index: 9;
    max-width: 100wh;
    max-height: 100vh;
}
#loop{
    display: flex;
    position: absolute;
    top: 30%;
    height: 25%;
    width: 100%;
    font-size: 100px;
    font-family: Gilroy;
    white-space: nowrap;
}
#loop>h1{
    font-weight: 400;
    animation-name: loop;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
#loop>h1>span{
    -webkit-text-stroke: 1.2px black;
    font: 400;
    color: transparent;
}

@keyframes loop {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }   
}
#nav{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 10vh;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}
button{
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 8px;
    border: 2px solid black;
}